body {
    background: url('/static/images/background.jpg') no-repeat top center;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

.logo {
    margin: 20px 20px;
}
.logo img {
    height: 70px;
    width: 70px;
}

.user {
    width: 200px;
    position: absolute;
    top: 20px;
    right: 20px;
}

h4.card-title {
    text-align: center;
}
