<div class="card user">
    <div class="card-body">
        {% if request.user.is_authenticated %}
            <h4 class="card-title">{{ request.user.get_full_name }}</h4>
            <a href="{% url 'logout' %}" class="btn">Выход</a>
        {% else %}
            <a href="#" data-toggle="modal" data-target="#registerModal">Регистрация</a>
            <a href="#" data-toggle="modal" data-target="#signinModal">Вход</a>
            <div class="modal" tabindex="-1" role="dialog" id="registerModal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Регистрация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="formRegistration">
                      <div class="alert alert-danger" role="alert" id="registrationAlert" hidden>
                      </div>
                      <div class="form-group">
                        <label for="username">Логин</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Введите логин">
                        <small id="usernameHelp" class="form-text text-muted">Логин будет использоваться для входа в систему</small>
                      </div>
                      <div class="form-group">
                        <label for="full_name">Имя команды</label>
                        <input type="text" class="form-control" id="full_name" name="full_name" aria-describedby="full_nameHelp" placeholder="Введите имя команды">
                        <small id="full_nameHelp" class="form-text text-muted">Название команды будет отображаться в списке результатов</small>
                      </div>
                      <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button id="submitRegistration" type="button" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="signinModal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Вход</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="formSignin">
                      <div class="alert alert-danger" role="alert" id="signinAlert" hidden>
                      </div>
                      <div class="form-group">
                        <label for="username_signin">Логин</label>
                        <input type="text" class="form-control" required id="username_signin" name="username" placeholder="Введите логин">
                      </div>
                      <div class="form-group">
                        <label for="password_signin">Пароль</label>
                        <input type="password" class="form-control" required id="password_signin" name="password" placeholder="Пароль">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button id="submitSignin" type="button" class="btn btn-primary">Войти</button>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}
    </div>
</div>