{% extends 'base.html' %}

{% block content %}
    <h1>One, two, run!</h1>
    {% if not is_started %}
        <h3>Мы еще не начали.</h3>
    {% endif %}
    {% if not is_finished and user.is_authenticated %}
        <a href="/tasks/">К задачам</a>
    {% endif %}
    {% if results %}
        <div class="card results">
            <div class="card-body">
            <h4 class="card-title">Результаты</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Место</th>
              <th scope="col">Название команды</th>
              <th scope="col">Кол-во задач</th>
              <th scope="col">Время</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ result.name }}</td>
              <td>{{ result.tasks }}</td>
              <td>{{ results.time }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
    {% endif %}
{% endblock %}