{% extends 'base.html' %}

{% block content %}
    <h1>One, two, run!</h1>
    <div class="card results">
        <div class="card-body">
            <h4 class="card-title">Задачи</h4>
            <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item">{{ task.latitude }}:{{ task.longitude }}
                        <p>{{ task.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
